---
layout: default
---
<main class="post">
    <article>
        <h1 class="post-title">{{ title }}</h1>

        <div class="post-info">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                <span>{{ page.date | date_to_string }}</span>
            </div>

            {% if categories.size > 0 %}
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>
                {% for tag in categories %}
                    <span class="tag">
                        <a href="/categories/{{ tag | slugify }}" style="text-decoration: none;">#{{ tag }}</a>
                    </span>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div class="post-content">
            {{ content }}
        </div>
    </article>
</main>