---
layout: default
---

<main class="project">
    <h1 class="project-title">{{ title }}</h1>
    <img src="{{ image }}" alt="{{ title }}">
    <div class="project-content">
        <div class="project-description">
            {{ content }}
        </div>
        <div class="project-links">

            {% for link in links %}
            <a href="{{link.url}}" target="_blank">
                <div class="project-links-link">
                    {{link.name}}
                </div>
            </a>
            {% endfor %}

        </div>
    </div>
</main>